/* Bluloco Dark theme for Waybar */
@define-color waybar-bg rgba(40, 44, 52, 0.9);
@define-color waybar-fg #ccd5e5;
@define-color waybar-blue #285bff;
@define-color waybar-blue-hover rgba(40, 91, 255, 0.2);
@define-color waybar-gray #61697a;
@define-color waybar-hover rgba(205, 214, 244, 0.1);
@define-color waybar-red #f81141;
@define-color waybar-green #23974a;
@define-color waybar-cyan #3a8ab2;
@define-color waybar-yellow #fd7e57;
@define-color waybar-bg-alt #4a505d;
