/* Bluloco Light theme for Waybar */
@define-color waybar-bg rgba(247, 247, 247, 0.9);
@define-color waybar-fg #38383a;
@define-color waybar-blue #0099e0;
@define-color waybar-blue-hover rgba(0, 153, 224, 0.2);
@define-color waybar-gray #b9bac1;
@define-color waybar-hover rgba(56, 56, 58, 0.1);
@define-color waybar-red #d52652;
@define-color waybar-green #239749;
@define-color waybar-cyan #26608c;
@define-color waybar-yellow #c5a231;
@define-color waybar-bg-alt #e8e8e8;
